<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Power.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Power.Properties.Settings>
            <setting name="activate" serializeAs="String">
                <value />
            </setting>
            <setting name="defalut" serializeAs="String">
                <value />
            </setting>
            <setting name="time" serializeAs="String">
                <value />
            </setting>
            <setting name="action" serializeAs="String">
                <value />
            </setting>
        </Power.Properties.Settings>
    </userSettings>
</configuration>
